<div class="container">
	<slot />
</div>
<audio id="alarmAudio">
	<source src="./sound/alarm.ogg" type="audio/ogg" />
	<source src="./sound/alarm.mp3" type="audio/mpeg" />
</audio>
<audio id="guessAudio">
	<source src="./sound/guess.ogg" type="audio/ogg" />
	<source src="./sound/guess.mp3" type="audio/mpeg" />
</audio>

<style>
	:global(body) {
		position: relative;
		width: 100%;
		height: 100%;
		color: #333;
		background-color: black;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
			'Open Sans', 'Helvetica Neue', sans-serif;
	}
	.container {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #36474f;
		color: white;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		max-width: 600px;
		margin: 0 auto;
	}
</style>
