<script>
	import Frame from 'components/Frames.svelte';
	import { teams, newGame, gameMatchFilms } from 'store';
	import Button from 'components/Button.svelte';
	import Typography from 'components/Typography.svelte';
	import Spacer from 'components/Spacer.svelte';
	import Films from 'components/Films.svelte';
</script>

<Frame>
	<Typography size={40} align="center">Конец игры</Typography>
	<Films films={$gameMatchFilms} />
	<div>
		{#each $teams as team, i}
			<Typography align="center">Команда {i + 1}: <b>{team}</b></Typography>
			<Spacer />
		{/each}
	</div>
	<Button on:click={newGame}>Новая игра</Button>
</Frame>
