<script>
	import Frame from 'components/Frames.svelte';
	import { wordCount, startRound, years, filterNumbers } from 'store';
	import RangeSlider from 'svelte-range-slider-pips';
	import Spacer from 'components/Spacer.svelte';
	import Button from 'components/Button.svelte';
	import Typography from 'components/Typography.svelte';
	import Checkbox from 'svelte-checkbox';
</script>

<Frame>
	<Spacer />
	<img src="/img/logo.svg" alt="logo" class="logo" />

	<div>
		<Typography>Годы с {$years[0]} по {$years[1]}</Typography>
		<Spacer />
		<div class="slider">
			<RangeSlider range bind:values={$years} min={1920} max={new Date().getFullYear()} pips />
		</div>
		<Spacer size={32} />

		<Typography>Слов: {$wordCount}</Typography>
		<div class="slider">
			<RangeSlider bind:values={$wordCount} min={25} max={100} />
		</div>
		<Spacer size={24} />
		<!-- svelte-ignore a11y-label-has-associated-control -->
		<label class="checkbox">
			<Checkbox
				size="24px"
				bind:checked={$filterNumbers}
				primaryColor="#ed2e45"
				secondaryColor="#fff"
			/>
			<div class="labelText">Фильтруем фильмы с цифрами</div>
		</label>
	</div>
	<div>
		<Button on:click={startRound}>Погнали</Button>
		<Spacer size={24} />
		<a href="/rules" class="rules">Правила</a>
		<Spacer size={16} />
	</div>
</Frame>

<style>
	.slider :global(.rangeSlider) {
		--range-inactive: #ed2e45;
		--range-handle-inactive: #ed2e45;
		--range: #ed2e45;
		--handle-focus: #ed2e45;
		--handle: #f16375;
	}
	.slider :global(.rangePips) {
		display: none;
	}
	.checkbox {
		display: flex;
		align-items: center;
		font-size: 16px;
	}
	.labelText {
		margin-left: 8px;
	}
	.logo {
		width: 80%;
		margin: 0 auto;
	}
	.rules {
		color: #ed2e45;
		font-size: 16px;
		text-align: center;
		display: block;
	}
</style>
