<script>
	import Frame from 'components/Frames.svelte';
	import { films, wordCount } from 'store';
	import Spacer from 'components/Spacer.svelte';
	import Typography from 'components/Typography.svelte';
	$: percent = ($films.length / $wordCount[0]) * 100;
</script>

<Frame>
	<div class="container">
		<Typography align="center">Ищем фильмы</Typography>
		<Spacer size={24} />
		<Typography align="center">Нашли {$films.length}</Typography>
		<Spacer size={24} />
		<div class="progress">
			<div class="bar" style={`width:${percent}%`} />
		</div>
	</div>
</Frame>

<style>
	.container {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.progress {
		width: 100%;
		height: 5px;
		border-radius: 4px;
		overflow: hidden;
		background-color: white;
	}
	.bar {
		background-color: #ed2e45;
		height: 100%;
		transition: width 0.2s ease-out;
	}
</style>
