<script>
	import Frame from 'components/Frames.svelte';
	import { teamIndex, startTurn } from 'store';
	import Button from 'components/Button.svelte';
	import Typography from 'components/Typography.svelte';
	import Spacer from 'components/Spacer.svelte';
</script>

<Frame>
	<Spacer />
	<div>
		<Spacer size={32} />
		<Typography align="center" size={40}>Ход команды {$teamIndex + 1}</Typography>
	</div>

	<Button on:click={startTurn}>Погнали</Button>
</Frame>
