<button on:click><slot /></button>

<style>
  button {
    border: none;
    border-radius: 16px;
    background: #ed2e45;
    outline: none;
    color: white;
    padding: 16px 32px;
    font-size: 24px;
    width: 100%;
    box-sizing: border-box;
    text-transform: uppercase;
    cursor: pointer;
  }
  button:hover {
    background: #b31729;
  }
  button:active {
    background: #f16375;
  }
</style>
