<script>
  import Typography from "./Typography.svelte";
  import Spacer from "./Spacer.svelte";

  export let films = [];
</script>

<div class="matchedFilms">
  {#each films as film}
    <a href={`https://www.kinopoisk.ru/film/${film.id}/`} target="_blank" class="film">
      <img src={film.img.src} class="cover" alt="cover" />
      <Spacer />
      <Typography align="center" size={16}
        >{film.year} | {film.rating}</Typography
      >
      <Spacer />
      <Typography align="center" size={16}>{film.name}</Typography>
    </a>
  {/each}
</div>

<style>
    a{
        color: white;
        text-decoration: none;
    }
  .cover {
    margin: 0 auto;
    height: 200px;
    border-radius: 8px;
  }
  .matchedFilms {
    overflow: auto;
    display: flex;
    margin: 0 auto;
    max-width: 100%;
  }
  .matchedFilms::-webkit-scrollbar {
    display: none;
  }
  .matchedFilms {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .film {
    display: flex;
    flex-direction: column;
    margin-right: 8px;
  }
</style>
