<script>
	import Spacer from './Spacer.svelte';
	import Typography from './Typography.svelte';
	export let film;
	let internalFilms = film;

	const onAnimationEnd = (e) => {
		if (e.animationName.endsWith('endFilmAnimation')) {
			internalFilms = film;
		}
	};
</script>

<div
	class:startBgAnimation={film === internalFilms}
	class:endBgAnimation={film !== internalFilms}
	class="bg"
	style={`background-image:url(${internalFilms.img.src})`}
/>
<div class="overlay"/>

<div
	class:startFilmAnimation={film === internalFilms}
	class:endFilmAnimation={film !== internalFilms}
	on:animationend={onAnimationEnd}
	class="film"
>
	<img src={internalFilms.img.src} class="cover" alt="cover" />
	<Spacer />
	<Typography align="center" size={16}>{internalFilms.year} | {internalFilms.rating}</Typography>
	<Spacer size={40} />
	<div class="name">{internalFilms.name}</div>
</div>

<style>
	.film {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.bg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-position: center;
		background-size: cover;
		filter: blur(50px);
		max-width: 600px;
		overflow: hidden;
		margin: 0 auto;
		z-index: -2;
	}
	.overlay {
		background-color: rgba(0, 0, 0, 0.5);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		max-width: 600px;
		margin: 0 auto;
		z-index: -2;
	}
	.cover {
		margin: 0 auto;
		height: 200px;
		border-radius: 8px;
	}
	.name {
		padding: 16px 32px;
		color: #fff;
		font-size: 40px;
		text-align: center;
		max-width: 600px;
		box-sizing: border-box;
	}
	.startBgAnimation {
		animation: startBgAnimation 0.2s ease-in-out forwards;
	}
	.endBgAnimation {
		animation: endBgAnimation 0.2s ease-in-out forwards;
	}
	.startFilmAnimation {
		animation: startFilmAnimation 0.2s ease-in-out forwards;
	}
	.endFilmAnimation {
		animation: endFilmAnimation 0.2s ease-in-out forwards;
	}

	@keyframes startFilmAnimation {
		0% {
			/* transform: scale(0);
			transform-origin: 50% 50%; */
			opacity: 0;
		}
		100% {
			/* transform: scale(1);
			transform-origin: 50% 50%; */
			opacity: 1;
		}
	}
	@keyframes endFilmAnimation {
		0% {
			/* transform: scale(1);
			transform-origin: 50% 50%; */
			opacity: 1;
		}
		100% {
			/* transform: scale(0);
			transform-origin: 50% 50%; */
			opacity: 0;
		}
	}
	@keyframes startBgAnimation {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	@keyframes endBgAnimation {
		0% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}
</style>
