<script>
	import { onMount } from 'svelte';
	import { createEventDispatcher } from 'svelte';

	const dispatch = createEventDispatcher();
	const TURN_TIME = 30000;

	let time = TURN_TIME;
	let seconds = 30;

	$: percent = (time / TURN_TIME) * 100;
	$: {
		const secondsVal = Math.ceil(time / 1000);
		seconds = secondsVal;
	}

	onMount(() => {
		let timerId = null;
		const startDate = Date.now();
		const tick = () => {
			time = TURN_TIME - (Date.now() - startDate);
			if (time <= 0) {
				dispatch('timerend', null);
				return;
			}
			timerId = requestAnimationFrame(tick);
		};
		tick();
		return () => cancelAnimationFrame(timerId);
	});
</script>

<svg viewBox="0 0 36 36" class="timerSvg">
	<path
		class="timerBackground"
		d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0
      -31.831"
		fill="none"
		stroke-width="1"
		stroke-dasharray="100, 100"
	/>
	<path
		class="timer"
		d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0
      -31.831"
		fill="none"
		stroke="#444"
		stroke-width="1"
		stroke-dasharray={`${percent}, 100`}
	/>
	<text x="18" y="23" class="text" text-anchor="middle">{seconds}</text>
</svg>

<style>
	.timerSvg {
		width: 100%;
	}
	.text {
		fill: #ed2e45;
	}
	.timer {
		stroke: #ed2e45;
		stroke-linecap: round;
	}
	.timerBackground {
		stroke: #36474f;
	}
</style>
